OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3:1.7b
CHROMA_PATH=storage/chroma
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
TOP_K=5
MAX_CONTEXT_CHARS=12000
MAX_RETRIEVAL_DISTANCE=0.55
WEB_SEARCH_ENABLED=true
WEB_SEARCH_MAX_RESULTS=5
WEB_SEARCH_TIMEOUT_SECONDS=12
WEB_SEARCH_MAX_PER_MINUTE=10
WEB_ALLOWED_DOMAINS=who.int,mohfw.gov.in,mohfw-dohfw.gov.in,nhm.gov.in,nhsrcindia.org,qps.nhsrcindia.org,dghs.mohfw.gov.in,cbhidghs.mohfw.gov.in,ncdc.mohfw.gov.in,ncvbdc.mohfw.gov.in,naco.mohfw.gov.in,tbcindia.mohfw.gov.in,icmr.gov.in,cdsco.mohfw.gov.in,abdm.gov.in,nha.gov.in,pmjay.gov.in,esanjeevani.mohfw.gov.in,nihfw.ac.in,hmsc.dhr.gov.in,nikshay.in,ntep.in,nmc.org.in,notto.mohfw.gov.in,ayush.gov.in,arp.ayush.gov.in,india.gov.in,rbsk.mohfw.gov.in,ors.gov.in,cdc.gov,nih.gov,nhs.uk
WEB_PRIORITY_DOMAINS=qps.nhsrcindia.org,nhsrcindia.org,nhm.gov.in,mohfw.gov.in
